<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>Guilherme Toscan da Silva</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../static/css/style.css">
      <!-- responsive-->
      <link rel="stylesheet" href="../static/css/responsive.css">
      <!-- awesome fontfamily -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="../static/images/loading.gif" alt="" /></div>
      </div>
      <!-- end loader -->
       <!-- header -->
       <header>
         <div class="header">
            <div class="container-fluid">
               <div class="row d_flex">
                  <div class=" col-md-2 col-sm-3 col logo_section">
                     <div class="full">
                        <div class="center-desk">
                           <div class="logo">
                              <a href="{{ url_for('index')}}"><img src="../static/images/logo.png" alt="#" style="width: 300px;" /></a>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="col-md-8 col-sm-9">
                     <nav class="navigation navbar navbar-expand-md navbar-dark ">
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarsExample04">
                           <ul class="navbar-nav mr-auto">
                              <li class="nav-item active">
                                 <a class="nav-link" href="{{ url_for('index')}}">Home</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('about')}}">Sobre</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('studies')}}">Formação</a>
                              </li>
                              <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('project')}}">Projetos</a>
                              </li>
                              <!-- <li class="nav-item">
                                 <a class="nav-link" href="{{ url_for('contact')}}">Contato</a>
                              </li> -->
                           </ul>
                        </div>
                     </nav>
                  </div> 
               </div>
            </div>
         </div>
      </header>
      <!-- end header -->

      <!-- about -->
      
      <div class="we_do">
         <div class="container">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <h2>Sobre</h2>
                  </div>
               </div>
            </div>
            <div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">                  <div class="card mb-3" style="max-width: 540px;">
               <div class="card mb-3" style="max-width: 540px;">
                   <div class="row no-gutters">
                          <div class="col-md-4">
                              <img src="../static/images/foto.jpeg" class="card-img-center" alt="Descrição da imagem">
                          </div>
                          <div class="col-md-8">
                              <div class="card-body">
                                  <h4 class="card-title">Guilherme Toscan da Silva</h4>
                                  <p class="card-text">
                                  Minha carreira profissional é resultado de diversas escolhas, sendo que nem todas foram fáceis.
                                  Iniciei minha trajetória na UTFPR (antigo CEFET) e durante o curso estagiei na área de manutenção de computadores.
                                  Logo após minha formação prestei concurso para a Copel (Copanhia de Energia do Paraná).
                                  Apesar de aprovado, passaram 3 anos até a minha convocação. Neste período segui estagiando em diversas áreas, 
                                  mas já como estudante de engenharia elétrica (UFPR). Neste período atuei nas áreas de desenvolvimento de produto até P&D.
                                  Após a convocação e estando insatisfeito com o meu aproveitamento na Engenharia resolvi migrar para Economia e posso dizer
                                  tranquilamente que, apesar do gosto por eletrônica e informática, de fato me encontrei nessa nova área.
                                  Buscando unir essas duas áreas tão distintas (Eletrônica e Economia), estou me especializando em Ciência de Dados.
                                  As análises são úteis ao economista e a forma de obtê-las demandam o conhecimento técnico que são mais comuns
                                  nas engenharias, logo, essa formação mista (mesmo que incompleta) está sendo bastante útil nesse jornada.

                                  </ul>
                                  </p>

                              </div>
                          </div>
                      </div>
                </div>       
               </div>
            </div>
         </div>   
      </div>

      <!-- end about -->
      <!-- footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-3">
                     <a class="logo_footer" href="index.html"><img src="../static/images/logo.png" alt="#" /></a>
                  </div>
                     <div class="col-md-3 col-sm-6">
                     <div class="Informa helpful">
                        <h3>Link</h3>
                        <ul>
                           <li><a href="{{ url_for('index')}}">Home</a></li>
                           <li><a href="{{ url_for('about')}}">Sobre</a></li>
                           <li><a href="{{ url_for('studies')}}">Formação</a></li>
                           <li><a href="{{ url_for('project')}}">Projetos</a></li>
                           <!-- <li><a href="{{ url_for('contact')}}">Contato</a></li> -->
                        </ul>
                     </div>
                  </div>
                  <div class="col-md-3 col-sm-6">
                     <div class="Informa conta">
                        <h3>contact Us</h3>
                        <ul>
                           <li> <a href="Javascript:void(0)"> <i class="fa fa-map-marker" aria-hidden="true"></i> Curitiba, Paraná, BR
                              </a>
                           </li>
                           <li> <a href="Javascript:void(0)"><i class="fa fa-phone" aria-hidden="true"></i> Whatsapp +55 41991964621
                              </a>
                           </li>
                           <li> <a href="Javascript:void(0)"> <i class="fa fa-envelope" aria-hidden="true"></i> guitoscansilva@gmail.com
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="copyright text_align_left">
               <div class="container">
                  <div class="row d_flex">
                     <div class="col-md-6">
                        <p>Desenvolvido com base no template da <a href="https://html.design/"> Html.design </a></p>
                     </div>
                     <div class="col-md-6">
                        <ul class="social_icon text_align_center">
                           <li> <a href="https://www.linkedin.com/in/guilherme-toscan-da-silva-85236432/"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/bootstrap.bundle.min.js"></script>
      <script src="../static/js/jquery-3.0.0.min.js"></script>
      <script src="../static/js/custom.js"></script>
   </body>
</html>